
/* rgba(248,	226,	187, 1)
rgba(198,	200,	174, 1)
rgb(213,213,213)
rgb(235	235	221	)
rgb(235	235	221	)
*/

* {
  background-color: rgb(245,245,245);
  font-family: 'Montserrat', sans-serif;
}
a {
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  text-decoration: none;
  color: black;
}
.headshot-container{
  grid-area: headshot;
}

.header{
  grid-area: header;
}

.sidebar{
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

/* For Mobile */
/* @media only screen and (max-device-width: 508px) and (max-width: 508px) { */
  .wrapper {
    padding: 4rem;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "headshot"
      "header"
      "sidebar"
      "content";
  }
  .header{
    margin: 0 auto;
  }
  .headshot-container {
    max-width: 500px;
    margin: auto;
  }

   .sidebar {
    display: flex;
    /* flex-flow: row; */
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 275%
  }



/* For Desktop */
@media only screen and (min-device-width: 768px) and (min-width: 768px) {
  .wrapper {
    max-width: 820px;
    margin: 0 auto;
    padding: 1rem;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
    "headshot header"
    " sidebar content";
    grid-gap: 20px;
  }
  .header {
    font-size: 200%
  }
  .sidebar {
    display: block;
    font-size: 100%;
    margin-top: 12px;
  }

  .sidebar a {
    /* margin-top: 100px; */
    line-height: 30px;
    margin-left: 15px;
    text-decoration: none;
    color: black;
  }

  .headshot-container {
    max-width: 100%;
  }

  /* Where the magic begins: */

/* .shiny {
  background-image: -webkit-linear-gradient(left, black 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
  background-image: linear-gradient(90deg, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
  background-position: right center;
  background-size: 400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: color 200ms linear;
  border: 1px;
}

.shiny:hover {
  background-position: left center;
  color: #ef9671;
  transition: background-position 2000ms ease-out;
} */


}
